* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'montserrat', sans-serif;
	background-color: #223343;
}

header {
	padding: 50px 15px 0px;
}

header h1 {
	color: #FFF;
	font-size: 48px;
	font-weight: 500;
	text-align: center;
}

main {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
}

section {
	padding: 15px;
}

.search-box {
	display: block;
	width: 100%;
	padding: 15px;

	border: none;
	outline: none;
	background: none;

	background-color: #EEE;
	border-radius: 8px;

	color: #53565A;
	font-size: 20px;
	font-weight: 300;

	transition: 0.4s ease-out;
}

.results {
	display:flex;
	flex-wrap: wrap;
	margin: 0px -15px;
	justify-content: space-around ;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.results .result {
		background-color: rgb(169, 194, 240);
		border-radius: 3px;
		box-shadow: 3px 3px 5px;
		overflow: hidden;
		position: relative;
		margin: 1rem;
		width: 250px;
		min-width: 300p;
		display: flex;	
		flex-wrap: wrap;
}

.results .result img {
	display: block;
	width: 100%;
}

.results .result h3 {
	color: #FFF;
	font-size: 20px;
	font-weight: 600;
	padding: 10px;
	background: #445565;
	flex: 1 1 100%;
	transition: 0.4s ease-out;
}

.results .result:hover h3 {
	background: #FFF;
	color: #223343;
}

.popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: #445565;

	overflow-y: scroll;
}

.popup .content {
	display: block;
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	padding: 25px;

	color: #FFF;
}

.popup .content h2 {
	font-size: 28px;
	font-weight: 600;
}
.popup .content h2 span {
	font-weight: 300;
	font-size: 20px;
}

.popup .content .rating {
	margin-bottom: 30px;
}

.popup .content .plot {
	display: flex;
	flex-wrap: wrap;
	margin: 0px -15px 30px;
}

.popup .content .plot img {
	flex: 1 1 50%;
	max-width: 300px;
	padding: 0px 15px;
}

.popup .content .plot p {
	flex: 1 1 50%;
	padding: 15px;
}

.movie-over {
	background-color: white;
	position:absolute;
	padding: 5px;
	bottom: 0;
	left: 0;
	right: 0;
	transform: translate(100%);

  
	overflow: hidden;
	 text-overflow: ellipsis;
	
	 display: -webkit-box;
	 -webkit-line-clamp: 7; 
	 -webkit-box-orient: vertical;
  
  }

  .result:hover .movie-over {
	transform: translate(0%) ;
  }

/* Style the header with a grey background and some padding */
.header {
	overflow: hidden;
	background-color: #f1f1f1;
	padding: 10px 10px;
  }
  
  /* Style the header links */
  .header a {
	float: left;
	color: black;
	text-align: center;
	padding: 12px;
	text-decoration: none;
	font-size: 18px;
	line-height: 25px;
	border-radius: 4px;
  }
  
  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  .header a.logo {
	font-size: 25px;
	font-weight: bold;
}
.header a img {
	
	box-sizing: border-box;
	max-height: 25px;
  }
  /* Change the background color on mouse-over */
  .header a:hover {
	background-color: #ddd;
	color: black;
  }
  
  /* Style the active/current link*/
  .header a.active {
	background-color: dodgerblue;
	color: white;
  }
  
  /* Float the link section to the right */
  .header-right {
	float: right;
  }
  
  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
  @media screen and (max-width: 500px) {
	.header a {
	  float: none;
	  display: block;
	  text-align: left;
	}
	.header-right {
	  float: none;
	}
  }

  .button-container{
	  text-align: center;
  }
   button{
	  background-color: #cedeec;
	  width: 80px;
	  height: 50px;
	  position: relative;
	  bottom: 20px;
	  margin-left: 40px;
	  border: none;
	  box-shadow: 3px 2px 3px 2px  black;
	  border-radius: 3px;
	  font-size: medium;
  } 

  button:hover,
button:focus {
    background: #0053ba;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}

.close{
position: sticky;
top: 50px;
right: 50px;
}
